.pelicula-card{
  width: 32%;
  padding: 10px ;
  margin: 20px;
  border-radius: 8px;
  text-transform: capitalize;
  display: flex;
  flex-direction:row;
  align-items: center;
  text-align: center;
}

.button {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 10px;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}